.collapse {

  overflow: hidden;
  transition: max-height 0.3s ease;
}

.collapse.show {
 
}



.sidebar-minimized {
  width: 60px;

}

.sidebar-full {
  width: 100%;
  transition: width 0.3s ease;
}




